<header class="header">
  <div class="wrapper">
    <div class="header-title-nav-wrapper">
      <div class="header-title" data-animation-role="header-element">

        <div class="header-title-logo">
          <a href="/" data-animation-role="header-element">
            <img elementtiming="nbf-header-logo-desktop"
              src="//images.squarespace-cdn.com/content/v1/603aeb5925c2882031429ee8/1614560362031-8PFKYBDYSDC9NRNTE1TD/Asset+4.png?format=1500w"
              alt="Stop the Party Gender Wage Gap" style="display:block" fetchpriority="high" loading="eager" decoding="async"
              data-loader="raw">
          </a>
        </div>
      </div>

      <!-- Nav -->
      <div class="header-nav">
        <div class="header-nav-wrapper">
          <nav class="header-nav-list">
            <div class="header-nav-item header-nav-item--collection">
              <a href="/faq" data-animation-role="header-element">
                Have questions?
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>