<!doctype html>
<html lang="en">
<head>
  {{> components/head.hbs }}
</head>
<body class="page page-error page-error-404">

  {{> components/header.hbs }}

  <main class="main" id="main">
    <div class="wrapper">
      <h1>{{ error }}</h1>
      <p>{{ title }}</p>
    </div>
  </main>

  {{> components/footer.hbs }}

</body>
</html>
