<!doctype html>
<html lang="en">

  <head>
    {{> components/head.hbs }}
  </head>

  <body class="page page-home">

    {{> components/header.hbs }}

    <main class="main" id="main">
      <div class="wrapper content">
        {{#each sections}}
          {{> components/section.hbs }}

        {{/each}}
      </div>
    </main>

    {{> components/footer.hbs }}

  </body>

</html>