<footer class="footer">
  <div class="wrapper">

    <div class="section-border">
      <div class="section-background">
      </div>
    </div>
    <div class="content-wrapper" style="    ">
      <div class="content">

        <div class="sqs-layout sqs-grid-12 columns-12" data-type="page-section" id="page-section-603aeb5a25c2882031429f19">
          <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
              <div class="sqs-block html-block sqs-block-html" data-block-type="2"
                data-border-radii="{&quot;topLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;topRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomLeft&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0},&quot;bottomRight&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;value&quot;:0.0}}"
                id="block-4932e1a74ec9d6d3eb3c">
                <div class="sqs-block-content">

                  <div class="sqs-html-content">
                    <h4 style="text-align:center;white-space:pre-wrap;">#STOPTHEPARTY</h4>
                    <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small"><a href="/faq" tabindex="0">Have
                        questions?</a></p>
                    <p style="text-align:center;white-space:pre-wrap;" class="sqsrte-small"><a href="https://youtu.be/RZEWVk1yKog"
                        target="_blank" tabindex="0">Watch the video</a></p>
                  </div>
                </div>
              </div>
              <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2" data-block-type="54"
                id="block-a642ce3ccd531d2ccde0">
                <div class="sqs-block-content">
                  <div
                    class="sqs-svg-icon--outer social-icon-alignment-center social-icons-color- social-icons-size-large social-icons-style-regular ">

                    <nav class="sqs-svg-icon--list">
                      <a href="http://instagram.com/StopThePartyPledge" target="_blank"
                        class="sqs-svg-icon--wrapper instagram-unauth" aria-label="instagram-unauth" tabindex="0">
                        <div>
                          <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                            <use class="sqs-use--icon" xlink:href="#instagram-unauth-icon"></use>
                            <use class="sqs-use--mask" xlink:href="#instagram-unauth-mask"></use>
                          </svg>
                        </div>
                      </a><a href="https://www.linkedin.com/company/stoptheparty/" target="_blank"
                        class="sqs-svg-icon--wrapper linkedin-unauth" aria-label="LinkedIn" tabindex="0">
                        <div>
                          <svg class="sqs-svg-icon--social" viewBox="0 0 64 64">
                            <use class="sqs-use--icon" xlink:href="#linkedin-unauth-icon"></use>
                            <use class="sqs-use--mask" xlink:href="#linkedin-unauth-mask"></use>
                          </svg>
                        </div>
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="/main.js"></script>