<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}} | Stop the Party</title>
<link rel="stylesheet" href="/main.css">
<link rel="icon" type="image/x-icon" href="/files/projicon.png">
<link rel="manifest" href="/manifest.json">
{{!-- TODO: Selectively add this as part of the build process --}}
{{!-- <script src="https://js.sentry-cdn.com/d289a87a79bdcc027689544e2e9a94f8.min.js" crossorigin="anonymous"></script> --}}